.actions {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: .5em 1em;
  border-radius: 4px;
  background-color: red;
  text-decoration: none;
  color:  white;
}
 

.btn-active {
  background-color: rgb(11, 187, 34);
}
.random-numbers {
  background-color: rgb(255, 251, 251);
  color: blue;
}